@page
@model AnotherSpaceGame.Areas.Game.Pages.AttackModel
@{
    ViewData["Title"] = "Attack";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<h2>Your Top Fleets</h2>
<p>This is the fleet that will enter battle.</p>
<p>Note: only your top 10 stacks go into battle.(ordered by power rating desc)</p>
<p>Note: You can only attack users who are within 30% of your power rating.</p>
<p>Note: Starbases cannot be used to attack other empires. Only defend from attackers.</p>

@if (Model.UserShipFleets != null && Model.UserShipFleets.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Total Ships</th>
                <th>Total Power Rating</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var fleet in Model.UserShipFleets)
        {
            <tr>
                <td>@fleet.ShipName</td>
                <td>@fleet.ShipType</td>
                <td>@fleet.TotalShips</td>
                <td>@fleet.TotalPowerRating</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No fleets found.</p>
}
<hr />

<form method="get" asp-page="ConfirmAttack">
    <label for="UserName">Target User Name:</label>
    <input type="text" id="UserName" name="UserName" value="@(Model.UserName ?? "")" required />
    <input type="hidden" name="TargetUser" value="@Model.UserName" />
    <label for="SelectedAttackType">Fleet Attitude:</label>
    <select id="SelectedAttackType" name="SelectedAttackType" asp-items="Model.AttackTypeList"></select>
    <p>Careful: Attacker deals 50% less damage, Defender deals 50% less damage.</p>
    <p>Normal: Attacker deals 5% less damage.</p>
    <p>Aggressive: Attacker deals 74% more damage, Defender deals 99% more damage.</p>
    <p>The attacker always decides the attiude of the battle.</p>
    <a asp-page="/RankingRankNearMe">Search for target</a>

    <button type="submit" class="btn btn-primary">Attack</button>
    @Html.AntiForgeryToken()
</form>