@page "{id:int}"  
@model AnotherSpaceGame.Areas.Game.Pages.CreateColonyClusterModel  
@{  
    ViewData["Title"] = "Create Colony Cluster";  
    Layout = "~/Views/Shared/_LayoutGame.cshtml";  
}  
 
@if (Model.SelectedPlanets != null && Model.SelectedPlanets.Any() && Model.NewPlanet == null)  
{  
    <form method="post">
    <h3>Selected Planets</h3>  
    <table class="table">  
        <thead>  
            <tr>  
                <th>Name</th>  
                <th>Type</th>  
            </tr>  
        </thead>  
        <tbody>  
            @foreach (var planet in Model.SelectedPlanets)  
            {  
                <tr>  
                    <td>@planet.Name</td>  
                    <td>@planet.Type</td>  
                </tr>
                <input type="hidden" name="SelectedPlanetIds" value="@planet.Id" />
            }  
        </tbody>  
        <tfoot>
                    <tr>
                        <td>
                            <label for="SelectedMineralType">Select Mineral Type:</label>
                            <select asp-for="SelectedMineralType" asp-items="Model.MineralTypeSelectList">
                                <option value="">-- Select --</option>
                            </select>
                            <span asp-validation-for="SelectedMineralType" class="text-danger"></span>
                            <br />
                            <button type="submit" class="btn btn-primary">Submit</button>
                            @Html.AntiForgeryToken()
                        </td>
                    </tr>
                </tfoot>
        </table>
        </form>
}  
else if (Model.NewPlanet != null) 
{  
    <h3>New Planet Created</h3>  
    <table class="table">  
        <thead>  
            <tr>  
                <th>Name</th>  
                <th>Type</th>  
                <th>land</th>  
                <th>Ore</th>  
            </tr>  
        </thead>  
        <tbody>              
                <tr>  
                <td>@Model.NewPlanet.Name</td>  
                <td>@Model.NewPlanet.Type</td>  
                <td>@Model.NewPlanet.TotalLand</td>  
                <td>@Model.NewPlanet.AvailableOre</td>  
                </tr>              
        </tbody>  
        <tfoot>
            <tr>
                <td>
                    <p>
                        <a asp-page="/ManageColonies">Click Here To Continue</a>
                    </p>
                </td>
            </tr>
        </tfoot>
    </table>  
     
}  
else
{  <div class="col-5">
        <table class="table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <td>
                        <b>
                            <h1>Cannot Create Colony Cluster</h1>
                        </b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                         <p>Not enough planets for this selection. Try exploring for more planets.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}  

@section Scripts {  
    <partial name="_ValidationScriptsPartial" />  
}