@page
@model AnotherSpaceGame.Areas.Manual.Pages.Viral.ViralTechnologyModel
@{
    ViewData["Title"] = "Viral Technology";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}
<h1>Viral Technology</h1>
<a asp-area="Manual" asp-page="/Index"> Back to Manual </a>
<div class="col-5">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>
                    Research Name
                </th>
                <th>
                    Turns Required
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ViralResearchItems)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.TurnsRequired
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @Model.ViralSpecificResearchItems[0].Name
                </td>
                <td>
                    @Model.ViralSpecificResearchItems[0].TurnsRequired
                </td>
            </tr>
            <tr>
                <td>
                    @Model.ViralSpecificResearchItems[1].Name
                </td>
                <td>
                    @Model.ViralSpecificResearchItems[1].TurnsRequired
                </td>
            </tr>
        </tbody>
    </table>
</div>